<p style="color: green"><%= notice %></p>

<h1>Videoer</h1>
<h4>Her skal jeg laste opp videoer når jeg får drona mi :D</h4>
<div id="videos">
  <% @videos.each do |video| %>
    <%= render video %>
    <p>
      <%= link_to "Show this video", video %>
    </p>
  <% end %>
</div>

<%= link_to "Last opp video", new_video_path, class:"btn btn-secondary" %>

<script type="text/javascript" charset="utf-8">
  document.getElementById("navlink_videoer").classList.add("active")
</script>