<div class="row">
  <div class="col-12 text-center mt-3">
    <h4>Tittel på frontpage</h4>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  document.getElementById("navlink-home").classList.add("active")
</script>