@font-face {
    font-family: "AstroSpace";
    src: url("AstroSpace.ttf");
}

@font-face {
    font-family: 'Mandalore';
    src: url("Mandalore.otf");
}

@font-face {
    font-family: "Atmospheric";
    src: url("Atmospheric.ttf");
}